
a{
  color: white;
  text-decoration: none;
  font-size: small;
}

.bar{
  display: flex;
  text-align: center;
  padding-top: 5%;
  font-size: small;
  width: 100%;
  background-color: black;
}
.bar1{
  width: 100%;
  background-color: black;
  padding-top: 5%;
  padding-bottom: 5%;
}